body {
  display: block;
  background-image: url("../images/wood2.png");
  background-repeat: repeat;
}

header {
  display: block;
  width: 100%;
  min-height: 310px;
  position: relative;
  border-bottom: 3px solid black;
}

header h1 {
  color: white;
  text-align: center;
  font-family: helvetica, arial;
  font-size: 70;
  margin-top: -28px;
  margin-bottom: -28px;
}

header h2 {
  color: white;
  text-align: center;
  font-family: helvetica, arial;
  font-size:45;
}

header a {
  text-decoration: none;
  color: gold;
}

header a:hover {
  color: palegoldenrod;
  font-size: 32;
}

header nav ul{
  list-style-type: none;
  text-align:center;
}

header nav li {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 30;
  font-family: helvetica, arial;
  font-size: 30;
  font-weight: bold;
}


.cont {
  position: relative;
  margin: 0 auto;
  margin-top: 15px;
  width: 80%;
  background-color: rgba(255,255,255,.5);
  font-family: helvetica, arial;
}


section {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  width: 55%;
  border-right: 7px solid grey;
}

aside {
  display: inline-block;
  margin: 0;
  width: 25%;
  padding-left: 5%;
}

.linx {
  margin: 0 auto;
  font-family: helvetica, arial;
  width: 80%;

}

.linx ul{
  display: inline-block;
  list-style-type: none;
  background-color: white;
  opacity:.9;
}

.linx li{
  text-align: center;
}

.linx img{
  padding-bottom: 10px;
}

.linx #one{
  padding: 10px;
  margin-left: 10%;
  font-size: 18px;
  font-weight: bold;
}
.linx #two{
  padding: 10px;
  margin-left: 5%;
  font-size: 18px;
  font-weight: bold;
}

.linx #three{
  padding: 10px;
  margin-left: 5%;
  font-size: 18px;
  font-weight: bold;
}

.work {
  padding: 10px;
}

.work li{
  font-weight: bold;
}

footer a {
  text-decoration: none;
  color: gold;
  background-color: black;
}

footer a:hover {
  color: palegoldenrod;
  font-size: 18;
}

footer nav ul{
  list-style-type: none;
  text-align:center;
}

footer nav li {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15;
  font-family: helvetica, arial;
  font-weight: bold;
}
