body {
  display: block;
  background-image: url("../images/wood2.png");
  background-repeat: repeat;
}

header {
  display: block;
  width: 100%;
  min-height: 230px;
  position: relative;
}

header h1 {
  text-align: center;
  color: white;
  font-family: helvetica, arial;
  font-size: 70;
  margin-top: -28px;
  margin-bottom: -28px;
}

header h2 {
  text-align: center;
  color: white;
  font-family: helvetica, arial;
  font-size: 45;
}

.lgcont {
  border-top: 4px solid black;
}

.cont {
  float: right;
  width: 70%;
  margin-right: 5%;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgba(255,255,255,.5);
  font-family: helvetica, arial;
  min-height: 100%;
}

aside{
  float: left;
  width: 20%;
  min-height: 100%;
}


aside a{
  text-decoration: none;
  color: gold;
}
aside a:hover {
  color: palegoldenrod;
  font-size: 27;
}
aside nav ul{
  list-style-type: none;
}

aside nav li {
  padding-bottom: 35px;
  padding-right: 15px;
  font-size: 23px;
  font-family: helvetica, arial;
  font-weight: bold;
}


.work {
  padding: 20px;
}

.work li{
  font-weight: bold;
}

h3{
  font-size: 30px;
  font-family: helvetica, arial;
  font-weight: bold;
}

footer {
  width: 100%;
  height: 20px;
  display: inline-block;
}

footer a {
  text-decoration: none;
  color: gold;
  background-color: black;
}

footer a:hover {
  color: palegoldenrod;
  font-size: 18;
}

footer nav ul{
  list-style-type: none;
  text-align:center;
}

footer nav li {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15;
  font-family: helvetica, arial;
  font-weight: bold;
  margin-bottom: 10px;
}
