body {
  display: block;
  background-image: url("../images/wood2.png");
  background-repeat: repeat;
}

header {
  display: block;
  width: 100%;
  min-height: 230px;
  position: relative;
  h1 {
    text-align: center;
    color: white;
    font-family: helvetica, arial;
    font-size: 70;
    margin-top: -28px;
    margin-bottom: -28px;
  }
  h2 {
    text-align: center;
    color: white;
    font-family: helvetica, arial;
    font-size: 45;
  }
}


.lgcont {
  border-top: 4px solid black;
}

.cont {
  float: right;
  width: 70%;
  margin-right: 5%;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgba(255,255,255,.5);
  font-family: helvetica, arial;
  min-height: 100%;
}

aside{
  float: left;
  width: 20%;
  min-height: 100%;
  a{
    text-decoration: none;
    color: gold;
  }
  a:hover {
    color: palegoldenrod;
    font-size: 27;
  }
  nav ul{
    list-style-type: none;
  }
  nav li {
    padding-bottom: 35px;
    padding-right: 15px;
    font-size: 23px;
    font-family: helvetica, arial;
    font-weight: bold;
  }
}

.work {
  padding: 20px;
  li{
    font-weight: bold;
  }
  h3{
    font-size: 30px;
    font-family: helvetica, arial;
    font-weight: bold;
  }
}


/* footer {
  width: 100%;
  height: 20px;
  display: inline-block;
  a {
    text-decoration: none;
    color: gold;
    background-color: black;
  }
  a:hover {
    color: palegoldenrod;
    font-size: 18;
  }
  nav ul{
    list-style-type: none;
    text-align:center;
  }
  nav li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15;
    font-family: helvetica, arial;
    font-weight: bold;
    margin-bottom: 10px;
  }
} */

footer {
  a {
    text-decoration: none;
    color: gold;
    background-color: black;
  }
  a:hover {
    color: palegoldenrod;
    font-size: 18;
  }
  nav ul{
    list-style-type: none;
    text-align:center;
  }
  nav li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15;
    font-family: helvetica, arial;
    font-weight: bold;
  }
}

/*MEDIA*/

@media all and (max-width: 320px){ 
  header{
    min-height: 80px;
    h1 {
      color: white;
      text-align: center;
      font-family: helvetica, arial;
      font-size: 35px;
      margin-top: -28px;
      margin-bottom: -28px;
    }
    h2 {
      color: white;
      text-align: center;
      font-family: helvetica, arial;
      font-size:25px;
    }
  }

  .lgcont{
    border-top: none;
  }

  aside{
    display: block;
    width: 100%;
    min-height: 0;
    h3 {
      font-size: 17px;
    }
    nav ul {
      text-align: center;
      margin-top: 0;
      padding: 0;
    }
    nav li {
      display: block;
      padding: 0;
    }
    nav a {
      text-decoration: underline;
      color: gold;
    }
    nav h3:hover {
      color: palegoldenrod;
      font-size: 18px;
    }
  }
  .cont {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgba(255,255,255,.5);
    font-family: helvetica, arial;
  }

  footer {

    nav ul{
      padding: 0;
      list-style-type: none;
      text-align:center;
    }
    nav li {
      display: inline-block;
      padding-left: 3px;
      padding-right: 3px;
      font-size: 11px;
      font-family: helvetica, arial;
      font-weight: bold;
    }
    a:hover {
      color: palegoldenrod;
      font-size: 12px;
    }
  }
}
